---
---

@import "{{ site.theme }}";

h1, h3 {
color: #BA6287;
}
h2 {
  color: #BA9562;
}

a {
  color: #31445D;
}

a:hover, a:focus {
  color: #BA6287;
  font-weight: bold;
}

body {
  background-color: #f7fbff;
}

ul.downloads {
  background: #EFF8F4;
}
