---
---

@import "{{ site.theme }}";

h1, h3 {
color: #BA6287;
}
h2 {
  color: #BA9562;
}
h4 {
  color: #6287BA;
}

a {
  color: #6287BA;
}

a:hover, a:focus {
  color: #BA6287;
  font-weight: bold;
}

body {
  background-color: #f8f6ec;
}
